/* * {
	box-sizing: border-box;
} */

/* html, body {
	height: 100%;
	min-height: 0;
	font-size: inherit !important;
	margin-top: auto;
	margin-bottom: auto;

} */

/* body {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */

.header {
	height: 100%;
	min-height: 0;
	/* font-size: 0.7em; */
	/* display: grid; */
	/* grid-template-columns: 1fr 3fr 7fr; */
	/* flex-direction: row;
	justify-content: space-between; */
	/* align-items: center; */
	/* background-color: beige; */
	gap: 1em;
	border-top: 10px solid rgba(36, 81, 159, 1);
	/* border-bottom: 1px solid var(--gray); */
	padding-right: 1em;
}

#nav-toggle {
	/* font-size: 2em; */
}

#account-cont {
	gap: 1em;
}

/* #header-child-2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2em;
} */

/* #header-child-2 > *:not(:last-child) {
	margin-right: 7%;
	padding-left: 5%;
} */

/* input[type="search"] {
	border-radius: 3em;
	padding-left: 1em;
	border: 1px solid var(--gray);
	height: 2.5em;
	font-size: 0.7em;
} */

/* header > *:nth-child(3) {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-right: 2%;
} */

/* header > *:nth-child(3) > *:not(:first-child) {
	margin-left: 3%;
} */

input[type="search"] {
	height: min-content;
}

#logo-cont {
	width: 10%;
	text-align: center;
}

#moovon-logo {
	width: 25%;
	height: auto;
	/* object-fit: contain; */
	/* margin: 0 auto; */
	/* border: 1px; */
}

#profile-pic {
	width: 20%;
	height: auto;
	object-fit: contain;
}

@media screen and (max-width: 800px) {
	.header {
		font-size: 0.8em;
	}

	#moovon-logo {
		width: 35%;
	}
}

@media screen and (max-width: 520px) {
	.header {
		font-size: 0.6em;
	}

	#moovon-logo {
		width: 55%;
	}
	
}